<a href="https://colab.research.google.com/github/Maxencegu/python_course_upjv/blob/main/00_python_Introductory_Python_Exercises_correction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

<center>

# **Python for Data Science**

### *Introductory Python Exercises*

</center>

<center>

## **Exercise 1: Basic Variable Operations in Python**

</center>

---

- (a) Assign the following values to variables and print them in a single sentence:
  - name: "Alice"
  - age: 25
  - city: "New York"
- (b) Given two variables:
``` python
x = 10
y = 20
```
Swap the values of x and y without using a third variable. Then print the values of x and y.
- (c) Create three variables:
  - a with the value 15
  - b with the value 10
  - c with the value 5

  Using these variables, calculate and print:
  - The sum of the three variables.
  - The product of the three variables.
  - The result of a - b + c.

In [11]:
nom = "Alice"
age = 25
ville = "New York"

print(f"Je m'appelle {nom}, j'ai {age} ans et j'habite à {ville}")

x = 10
y = 20
x,y = y,x
print(f"valeur de x : {x} et valeur de y : {y}")

a = 15
b = 10
c = 5

print(f"La somme = {a+b+c}")
print(f"le produit = {a*b*c}")
print(f"a-b+c = {a-b+c}")

Je m'appelle Alice, j'ai 25 ans et j'habite à New York
valeur de x : 20 et valeur de y : 10
La somme = 30
le produit = 750
a-b+c = 10

---

<center>

## **Exercise 2: List and String Indexing in Python**

</center>

---

- (a) Given the list:
```python
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
```
Print the second and the last element of the list using indexing.

- (b) Given the string:
```python
word = "programming"
```
Print the first, middle, and last character of the string using indexing.
Hint: Use len() to find the middle index if needed.

- (c) Given the list:
```python
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```
Create and print a new list that contains:
  - The first five elements.
  - The elements from index 3 to 7 (inclusive).
  - The list in reverse order.

In [10]:
fruits =  ["apple", "banana", "cherry", "date", "elderberry"]
print(f"1er élément = {fruits[0]}")
print(f"dernier élément = {fruits[-1]}")

word = "programming"
print(f"Premier caractère : {word[0]}")
print(f"Milieu caractère: {word[len(word)//2]}")
print(f"Dernier caractère : {word[-1]}")

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
new_numbers = numbers[:5]
print(f"cinq premiers éléments : {new_numbers}")
new_numbers = numbers[3:8]
print(f"3 à 7 (inclus) éléments : {new_numbers}")
new_numbers = numbers[::-1]
print(f"inversés) éléments : {new_numbers}")

1er élément = apple
dernier élément = elderberry
Premier caractère : p
Milieu caractère: a
Dernier caractère : g
cinq premiers éléments : [0, 1, 2, 3, 4]
3 à 7 (inclus) éléments : [3, 4, 5, 6, 7]
inversés) éléments : [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

---

<center>

## **Exercise 3: List Methods in Python**

</center>

---

- (a) Given the list:
```python
numbers = [10, 20, 30, 40, 50]
```
Remove the last element of the list using the `pop` method and print the updated list along with the removed element.

- (b) Given the string:
```python
fruits = ["apple", "banana", "cherry", "banana", "date"]
```
Remove the first occurrence of `"banana"` from the list using the `remove` method and print the updated list.

- (c) Start with an empty list:
```python
colors = []
```
Add the following colors to the list one by one using the `append` method: `"red"`, `"green"`, `"blue"`. Then print the final list.

- (d) Given the list:
```python
animals = ["cat", "dog", "rabbit"]
```
Insert `"hamster"` at index 1 using the `insert` method. Print the updated list.

- (e) Given the list:
```
numbers = [5, 2, 9, 1, 5, 6]
```
Sort the list in ascending order using the `sort` method and print the sorted list.

In [9]:
numbers = [10, 20, 30, 40, 50]
element = numbers.pop()
print(f"élément supprimé : {element}")
print(f"nouvelle liste numbers: {numbers}")

fruits = ["apple", "banana", "cherry", "banana", "date"]
fruits.remove("banana")
print(f"Nouvelle liste fruits : {fruits}")

colors = []
colors.append("red")
colors.append("green")
colors.append("blue")
print(f"Nouvelle liste colors : {colors}")

animals = ["cat", "dog", "rabbit"]
animals.insert(1, "hamster")
print(f"Nouvelle liste animals : {animals}")

numbers = [5, 2, 9, 1, 5, 6]
numbers.sort()
print(f"Nouvelle liste numbers : {numbers}")

élément supprimé : 50
nouvelle liste numbers: [10, 20, 30, 40]
Nouvelle liste fruits : ['apple', 'cherry', 'banana', 'date']
Nouvelle liste colors : ['red', 'green', 'blue']
Nouvelle liste animals : ['cat', 'hamster', 'dog', 'rabbit']
Nouvelle liste numbers : [1, 2, 5, 5, 6, 9]

---

<center>

## **Exercise 4: Tuples in Python**

</center>

---

- (a) Given the tuple:
```python
colors = ("red", "green", "blue", "yellow")
```
Access the first and last elements of the tuple and print them using indexing.

- (b) Given the tuple:
```python
numbers = (10, 20, 30, 40, 50)
```
Find the sum of all elements in the tuple.

- (c) Given the tuple:
```python
my_tuple = ("apple", "banana", "cherry", "date")
```
Use a method to find the index of the element "cherry".

In [8]:
colors = ("red", "green", "blue", "yellow")
print(f"1er élément : {colors[0]}")
print(f"Dernier élément : {colors[-1]}")

numbers = (10, 20, 30, 40, 50)
somme = 0
for num in numbers:
    somme += num
somme = sum(numbers)
print(f"La somme de numbers: {somme}")

my_tuple = ("apple", "banana", "cherry", "date")
index = my_tuple.index("cherry")
print(f"Index de cherry : {index}")

1er élément : red
Dernier élément : yellow
La somme de numbers: 150
Index de cherry : 2

---

<center>

## **Exercise 5: Dictionaries in Python**

</center>

---

- (a) Given the dictionary:
```python
person = {"name": "Alice", "age": 25, "city": "New York"}
```
Access the values associated with the keys `"name"` and `"city"` and print them.

- (b) Start with the dictionary:
```python
inventory = {"apples": 10, "bananas": 5}
```
  - Add a new key `"oranges"` with the value `8`.
  - Update the value of `"apples"` to `15`. Print the updated dictionary.

- (c) Given the dictionary:
```python
student = {"name": "John", "grade": "A", "age": 20, "major": "Physics"}
```
Remove the key `"age"` using the `pop` method and print the updated dictionary along with the removed value.

- (d) Given the dictionary:
```python
scores = {"Alice": 90, "Bob": 85, "Charlie": 92}
```
Use a loop to print each key and its corresponding value in the format: `"Alice: 90"`.

In [7]:
person = {"name": "Alice", "age": 25, "city": "New York"}

for key, value in person.items():
    print(f"Key : {key}")
    print(f"value : {value}")

inventory = {"apples": 10, "bananas": 5}
inventory["oranges"] = 8
inventory["apples"] = 15
print(f"Dictionnaire inventory : {inventory}")

student = {"name": "John", "grade": "A", "age": 20, "major": "Physics"}
value = student.pop("age")
print(f"valeur supprimée : {value}")
print(f"Dictionnaire student : {student}")

scores = {"Alice" : 90, "Bob" : 85, "Charlie" : 92}
for key, value in scores.items():
    print(f"{key}: {value}")

Key : name
value : Alice
Key : age
value : 25
Key : city
value : New York
Dictionnaire inventory : {'apples': 15, 'bananas': 5, 'oranges': 8}
valeur supprimée : 20
Dictionnaire student : {'name': 'John', 'grade': 'A', 'major': 'Physics'}
Alice: 90
Bob: 85
Charlie: 92

---

<center>

## **Exercise 6: Logical Operators in Python**

</center>

---

- (a) Given the variables:
```python
x = 10
y = 20
```
  - Check if `x` is greater than `5` and `y` is less than `30`. Print the result.
  - Check if `x` is equal to `10` or `y` is greater than `3`. Print the result.

- (b) Given the variables:
```python
age = 25
has_permission = True
```
Check if the person is over 18 and has permission. Print the result.

- (c) Given the variables:
```python
x = 50
y = 100
z = 75
```
Check if `z` is between `x` and `y`. Print the result.

In [6]:
x = 10
y = 20
print(x > 5 and y < 30)
print(x == 10 or y > 3)

age = 25
has_permission = True
print(age > 18 and has_permission)

x = 50
y = 100
z = 75
print(x < z < y)

True
True
True
True

---

<center>

## **Exercise 7: Control Structures (IF/ELSE) in Python**

</center>

---

- (a) Write code to check if a number is positive, negative, or zero. Test it with the following variable:
```python
number = 1.618
```

- (b) Given the variables:
```python
age = 20
has_ticket = True
```
Write a nested `if` statement to:
  - Check if the person has a ticket:
    - If yes, check if they are `18` or older and print `"Entry allowed"`.
    - Otherwise, print `"Entry denied. You must be 18 or older"`.
  - If they don’t have a ticket, print `"No ticket, entry denied"`.

- (c) Write a Python program to check if a given number is even or odd. Test it with the following variable:
```python
number = 42
```

In [5]:
number = 1.618
if number > 0:
    print("positif")
elif number < 0:
    print("négatif")
else:
    print("null")

age = 13
has_ticket = False
if has_ticket:
    if age >= 18:
        print("Entrée autorisée")
    else:
        print("Entrée refusée. Vous devez avoir 18 ans ou plus")
else:
    print("Pas de ticket, entrée refusée")

number = 53
if number % 2 == 0:
    print("Pair")
else:
    print("Impair")

positif
Pas de ticket, entrée refusée
Impair

---

<center>

## **Exercise 8: Loops in Python**

</center>

---

- (a) Write a Python program that prints the multiplication table for 3 using a `for` loop. Expected output:
```python
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
```

- (b) Using `range`, print the numbers from `1` to `10`.

- (c) Given two lists:
```python
colors = ["red", "green", "blue"]
shapes = ["circle", "square", "triangle"]
```
  - Use nested `for` loops to print each combination of color and shape (e.g., `"red circle"`, `"green square"`).
  - Use `zip` method to obtain the same result.

- (d) Given the following list:
```python
numbers = [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
```
Find the numbers that are multiples of `3` and `5`. Print the total `sum`.

In [4]:
table = 3
for i in range(1,11):
    print(f"{table} x {i} = {table*i}")

print([i for i in range(1,11)])

colors = ["red", "green", "blue"]
shapes = ["circle", "square", "triangle"]

nouvelle_list = list(zip(colors, shapes))
for elt in nouvelle_list:
    print(f"{elt[0]} {elt[1]}")

numbers = [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
somme = 0
for i in numbers:
    if i % 3 == 0:
        print(f"Le nombre {i} est un multiple de 3")
        somme += i
    elif i % 5 == 0:
        print(f"Le nombre {i} est un multiple de 5")
        somme += i
print(f"La somme des multiples est : {somme}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
red circle
green square
blue triangle
Le nombre 70 est un multiple de 5
Le nombre 72 est un multiple de 3
Le nombre 75 est un multiple de 3
Le nombre 78 est un multiple de 3
Le nombre 80 est un multiple de 5
Le nombre 81 est un multiple de 3
Le nombre 84 est un multiple de 3
Le nombre 85 est un multiple de 5
Le nombre 87 est un multiple de 3
Le nombre 90 est un multiple de 3
Le nombre 93 est un multiple de 3
Le nombre 95 est un multiple de 5
Le nombre 96 est un multiple de 3
Le nombre 99 est un multiple de 3
La somme des multiples est : 1185

---

<center>

## **Exercise 9: Functions in Python**

</center>

---

- (a) Write a function `add_numbers(a, b)` that takes two parameters and returns their sum. Test the function by calling it with different pairs of numbers.

- (b) Write a function `max_of_three(x, y, z)` that takes three numbers as arguments and returns the largest of the three. Test the function with different values.

- (c) Write a function `is_palindrome(word)` that checks if the given string is a palindrome. A palindrome is a word that reads the same forwards and backwards. Test the function with words like "madam" and "hello".

- (d) Write a function `convert_temperature(celsius)` that takes a temperature in Celsius and converts it to Fahrenheit using the formula:
```python
Fahrenheit = (Celsius * 9/5) + 32
```
Test the function with a value of 25 degrees Celsius.

- (e) Write a function `count_vowels(s)` that takes a string s as input and returns the number of vowels (a, e, i, o, u) in the string. Test the function with a string like "hello world".

In [3]:
def add_numbers(a,b):
    return a + b

print(add_numbers(2,3))
print(add_numbers(4,3))

def max_of_three(x, y, z):
    my_list = (x,y,z)
    return max(my_list)

print(max_of_three(2,8,3))
print(max_of_three(4,1,3))

def is_palindrome(word):
    return word[:] == word[::-1]

print(is_palindrome("madam"))
print(is_palindrome("hello"))

def convert_temperature(celsius):
    return (celsius * (9/5)) + 32

print(convert_temperature(25))

def count_vowels(s):
    vowels = ("a", "e", "i", "o", "u")
    count = 0
    for elt in s:
        if elt in vowels:
            count += 1
    return count

print(count_vowels("hello world"))

5
7
8
4
True
False
77.0
3

---

<center>

## **Exercise 10: Problem Solving in Python**

</center>

---
**These 5 questions require applying one or more concepts from the previous exercises.**


- (a) Write a function `calculate_average(numbers)` that takes a list of numbers as input. Inside the function:
  - Use a `loop` to calculate the `sum` of the numbers in the list.
  - Return the `average` of the values in the list.

  Test the function with the list:

  ```python
  numbers = [10, 20, 30, 40, 50]
  ```

- (b) Write a function `get_even_numbers(numbers)` that:
  - Takes a list of integers as input.
  - Uses `slicing` and a `loop` to find all `even` numbers.
  - Returns a new list containing only the `even` numbers.

  Test the function with the list:

  ```python
  numbers = [1, 2, 3, 4, 5, 6, 7, 8]
  ```

- (c) Write a function `word_count(sentence)` that:
  - Takes a string as input.
  - `Splits` the string into words and counts the frequency of each word using a dictionary.
  - Returns the dictionary of `counted words`.

  Test the function with the sentence:

  ```python
  sentence = "this is a test this is only a test"
  ```

- (d) Write a function `reverse_nested_lists(nested_list)` that:
  - Takes a list of lists as input.
  - Reverses each inner list using `slicing`.
  - Returns the modified list of `reversed` inner lists.

  Test the function with:
  ```python
  nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
  ```

- (e) Write a function `create_grades_dict(students, grades)` that:
  - Takes two lists: `students` (a list of student names) and `grades` (a list of their corresponding grades).
  - Creates and returns a `dictionary` where the keys are student names and the values are their grades.

  Test the function with:
  ```python
  students = ["Alice", "Bob", "Charlie"]
  grades = [85, 90, 78]
  ```

In [2]:
def calculer_moyenne(nombres):
    somme = sum(nombres)
    return somme / len(nombres)

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(calculer_moyenne(numbers))

def word_count(sentence):
    dico = {}
    liste_mots = sentence.split(" ")
    for elt in liste_mots:
        if elt in dico:
            dico[elt] += 1
        else:
            dico[elt] = 1
    return dico

sentence = "this is a test this is only a test"
print(word_count(sentence))

def reverse_nested_lists(nested_list):
    return [liste[::-1] for liste in nested_list]

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(reverse_nested_lists(nested_list))

def create_grades_dict(students, grades):
    ma_liste = zip(students, grades)
    dico = {}
    for mon_tuple in ma_liste:
        dico[mon_tuple[0]] = mon_tuple[1]
    return dico

students = ["Alice", "Bob", "Charlie"]
grades = [85, 90, 78]
print(create_grades_dict(students, grades))

4.5
{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}
[[3, 2, 1], [6, 5, 4], [9, 8, 7]]
{'Alice': 85, 'Bob': 90, 'Charlie': 78}

---

<center>

## **Exercise 11: Problem Solving II (Increased Difficulty) in Python**

</center>

---

- (a) Write a function `merge_dictionaries(dict1, dict2)` that:
  - Takes two dictionaries as input.
  - Merges them into a single dictionary. If the same key exists in both dictionaries, the value from dict2 should overwrite the value from dict1.
  - Returns the merged dictionary.

  Test the function with:

  ```python
  dict1 = {"a": 1, "b": 2, "c": 3}
  dict2 = {"b": 4, "d": 5}
  ```

- (b) Write a function `second_largest(numbers)` that:
  - Takes a list of `integers` as input.
  - Finds and returns the second `largest number` in the list.
  - Assume the list contains at least two distinct numbers.

  Test the function with::

  ```python
  numbers = [5, 1, 9, 6, 7, 3]
  ```

- (c) Write a function `create_frequency_dict(lst)` that:
  - Takes a list as input.
  - Creates and returns a dictionary where the keys are the `unique elements` of the list and the values are their `frequencies`.

  Test the function with:

  ```python
  lst = ["apple", "banana", "apple", "orange", "banana", "apple"]
  ```

- (d) Write a function reverse_vowels(s) that:
  - Takes a string s as input.
  - Reverses only the vowels in the string while keeping the other characters in place. For example, "hello world" becomes "hollo werld".
  - Returns the modified string.

  Test the function with:
  ```python
  s = "hello world"
  ```

- (e) Write a function `group_by_parity(numbers)` that:
  - Takes a list of integers as input.
  - Returns a dictionary with two keys: `"even"` and `"odd"`, where the values are lists of even and odd numbers, respectively.

  Test the function with:
  ```python
  numbers = [1, 2, 3, 4, 5, 6, 7, 8]
  ```

In [1]:
def merge_dictionaries(dict1, dict2):
    dico = dict1.copy()
    for key, value in dict2.items():
        dico[key] = value
    return dico

dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "d": 5}
print(merge_dictionaries(dict1, dict2))

def second_largest(numbers):
    ma_liste = sorted(numbers)
    return ma_liste[-2]

numbers = [5, 1, 9, 6, 7, 3]
print(second_largest(numbers))


def create_frequency_dict(lst):
    dico = {}
    for elt in lst:
        if elt in dico:
            dico[elt] += 1
        else:
            dico[elt] = 1
    return dico

lst = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(create_frequency_dict(lst))

def reverse_vowels(s):
    vowels = ("a","e","i","o","u")
    s_vowels = sorted([v for v in s if v in vowels], reverse=True)
    phrase = [elt for elt in s]
    index = 0
    for k,v in enumerate(phrase):
        if v in vowels:
            phrase[k] = s_vowels[index]
            index += 1
    return "".join(phrase)

s = "hello world"
print(reverse_vowels(s))

def group_by_parity(numbers):
    dico = {"even": [], "odd": []}
    for num in numbers:
        if num % 2 == 0:
            dico["even"].append(num)
        else:
            dico["odd"].append(num)
    return dico

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(group_by_parity(numbers))

{'a': 1, 'b': 4, 'c': 3, 'd': 5}
7
{'apple': 3, 'banana': 2, 'orange': 1}
hollo werld
{'even': [2, 4, 6, 8], 'odd': [1, 3, 5, 7]}